@font-face {
    font-family: 'MyWebFont';
    src: url(https://www.dafont.com/bobs-burgers.font) format("truetype");
}

.home__main{
    background-color: rgb(242, 222, 82);
    display: flex;
    justify-content: center;
}

.home__belchers{
    max-width: 968px;
    max-height: 968px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom:0px;
    height: 125px;
    width: 100%;
    background-color: rgb(242, 223, 83);
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline-color: black;
    outline: solid 5px;
}

/* .footer h1 {
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: rgb(218, 58, 58);
} */

.punny {
    cursor: pointer;
    max-width: 50%;
    max-height: 50%;
}

.yourburgers {
    cursor: pointer;
    max-width: 50%;
    max-height: 50%;
}

.gourmet {
    cursor: pointer;
    max-width: 50%;
    max-height: 50%;
}
