.burger__delete{
    max-width: 20px;
    max-height: 20px;
}

.yourburgersmain {
    background-color: rgb(242, 222, 82);
    display: flex;
    justify-content: space-around;
    flex-direction: wrap;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.header {
    width: 100vw;
    height: 20vh;
}

.displaycards {
    background-image: url("https://i.imgur.com/m8WNSVK.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    width: 25%;
}