/* .home__main{
    background-color: rgb(242, 223, 83);
    display: flex;
    justify-content: center;
}

.home__belchers{
    max-width: 1100px;
    max-height: 1100px;
} */


/* html{
    background: url(https://images-na.ssl-images-amazon.com/images/I/81aJs1k4R8L._RI_.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */